body {
	text-align: center;
	background-color: #58C5FF;
	color: #FFF;
	font-size: 2em;
}

h1 {
	font-size: 3.5em;
}

ul {
	text-align: left;
	list-style: none;
	padding: 0;
}

li > a {
	display: block;
	border-radius: 5px;
	border: 1px solid #FFF;
	color: #FFF;
	-webkit-transition: background 1s, color 1s; /* Safari */
	transition: background 1s, color 1s;
}

li > a:hover {
	background-color: #FFF;
	color: #58C5FF;
	text-decoration: none;
	-webkit-transition: background 1s, color 1s; /* Safari */
	transition: background 1s, color 1s;
}

a:link, a:visited {
	text-decoration: none;
	color: inherit;
}

a:link:hover, a:visited:hover {
	text-decoration: none;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	padding: 4px;
	border-radius: 3px 0 0 3px;
	width: 2em;
	height: 2em;
	background-color: #FFF;
}

.icon > img {
	display: block;
	width: 100%;
}

a > .title {
	display: inline-block;
	margin: auto;
	vertical-align: middle;
	text-align: center;
	width: calc(100% - 50px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.img-center {
	width: 100%;
	max-width: 350px;
	border-radius: 20% 5%;
	margin: 0 0 1em 0;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}