h1, h2, h3, h4, p {
	text-align: center;
	margin: 10px auto;
}

textarea {
	resize: none;
	height: 200px;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	display: block;
}

#ydk_file {
	display: none;
}

textarea, .ydk_file, input[type=submit], td, th {
	-moz-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
	box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5);
}

.vcenter {
	display: inline-block;
	vertical-align: bottom;
	float: none;
}

.ydk_file, input[type=submit] {
	background: #DDD;
	border: 0;
	display: block;
	width: 100%;
	max-width: 500px;
	height: 200px;
	margin: auto;
	font-size: 2em;
	text-align: center;
}

input[type=submit] {
	line-height: 200px;
}

input[type=submit]:disabled, input[type=submit]:disabled:hover {
	opacity: 0.75;
	cursor: not-allowed;
}

.ydk_file > span {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.ydk_file:hover, input[type=submit]:hover {
	cursor: pointer;
	background: #CCC;
}

#loading {
	display: none;
}

.table-responsive {
	overflow-x: auto;
}

@-moz-document url-prefix() {
	fieldset { display: table-cell; }
}

.table > tbody > tr > td, .table > tbody > tr > th {
	vertical-align: middle;
}

td > a > img {
	height: 250px;
}

td, th {
	text-align: center;
}

td {
	background-color: #DDD;
}

th {
	background-color: #CCC;
}

.canvas_source {
	width: 3340px;
}

.canvas_source img {
	display: inline-block;
	width: 10%;
}

canvas {
	display: block;
	margin: auto;
}